@charset "UTF-8";
/* tipografias */
/* FUENTE EXTERNA */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sedgwick+Ave+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap");
/* reseteo */
* {
  margin: 0;
  padding: 0; }

.header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  height: 120px; }
  .header .header-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* barra nav */ }
    .header .header-flex h1 {
      font-family: "'Merriweather', serif;"; }
    .header .header-flex .logo {
      width: 40px;
      margin: .5rem; }
    .header .header-flex a {
      text-decoration: none;
      color: #0E0F19; }
    .header .header-flex nav ul li {
      font-family: '$texto', serif;
      display: inline;
      font-weight: 500; }
    .header .header-flex .link {
      padding: 5px; }
      .header .header-flex .link:hover {
        background-color: #a8c1d8;
        color: #0E0F19;
        transition: .1s;
        transform: scale(1.5);
        border: solid 2px #0E0F19; }

/* responsive header*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .mobile-last {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mobile-last h1 {
      display: flex;
      justify-content: center;
      margin: 0;
      text-align: center;
      font-size: medium;
      margin-bottom: 10px;
      padding-left: 20px; }
    .mobile-last .logo {
      width: 30px;
      margin: .5rem; } }

@media (min-width: 361px) {
  .mobile_last_t {
    max-width: auto;
    margin: auto;
    font-size: medium; }
    .mobile_last_t h1 {
      display: flex;
      justify-content: center;
      margin: 0;
      text-align: center;
      font-size: large;
      margin-bottom: 10px;
      padding-left: 20px; }
    .mobile_last_t .logo {
      width: 30px;
      margin: .5rem; } }

@media (max-width: 375px) {
  .mobile_last_t h1 {
    margin-bottom: 0%; } }

@media (min-width: 768px) {
  .mobile_last_t h1 {
    font-size: x-large; } }

.main {
  background-color: #0E0F19;
  /* hover */ }
  .main h2 {
    padding: 10px;
    font-family: "$titulo";
    color: #5d5f5d;
    background-color: #0E0F19;
    margin-top: 0%;
    text-align: center; }
  .main .parrafo {
    padding: 5px;
    font-family: '$texto', serif;
    color: #F8C7CC; }
  .main .link:hover {
    background-color: #a8c1d8;
    color: #0E0F19;
    transition: .1s;
    transform: scale(1.5);
    border: solid 2px #0E0F19; }
  .main .gg-corner-left-up {
    margin-left: 10px;
    text-decoration: none;
    color: #1f85b4;
    padding-top: 30px; }

/* responsive general*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .mobile-last {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mobile-last .main {
      background-color: #0E0F19;
      padding: 5px; }
    .mobile-last p {
      max-width: 650px;
      margin: auto;
      font-size: medium;
      text-align: center; } }

@media (min-width: 361px) {
  .mobile_last_t .mobile-last {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mobile_last_t {
    max-width: auto;
    margin: auto;
    font-size: medium;
    text-align: center; }
    .mobile_last_t p {
      max-width: 750px;
      margin: auto;
      font-size: medium;
      text-align: center; }
    .mobile_last_t .main {
      background-color: #0E0F19; } }

/* estilo footer */
.footer {
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply, multiply;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* redes sociales */ }
  .footer .p-footer {
    padding-bottom: 5px; }
  .footer .ubicacion {
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer .ul-footer {
    display: inline-flex;
    list-style: none;
    margin: .3rem; }
    .footer .ul-footer .link {
      padding: 5px; }
  .footer a {
    text-decoration: none;
    color: #0E0F19; }
  .footer h4 {
    display: inline-block !important;
    padding: 5px;
    font-weight: 185; }
  .footer .redes {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin: 0.2rem;
    justify-content: center;
    align-items: center; }
    .footer .redes .gg-instagram {
      margin: .5rem; }

/* responsive footer*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .mobile-last footer {
    text-align: center; } }

@media (min-width: 361px) {
  .mobile_last_t footer {
    text-align: center; } }

/* responsive */
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .main_index .main {
    background-color: #0E0F19;
    padding: 5px; } }

@media (min-width: 361px) {
  .main_index .img-index {
    width: 70vw;
    margin: 1rem;
    border-radius: 10px; } }

.main-blog .recomendaciones {
  padding-bottom: 10px; }

.main-blog .img-blog {
  width: 70vw;
  margin: 1rem;
  border-radius: 10px; }

.main-blog h3 {
  padding: 5px;
  font-family: '$texto', serif;
  color: #F8C7CC;
  text-decoration: underline;
  text-align: center; }

.main-blog .li {
  padding: 5px;
  font-family: '$texto', serif;
  color: #F8C7CC; }

/* responsive blog*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .mobile-last .mobile-last ul {
    justify-content: center;
    width: 300px;
    margin: 0%; }
  .mobile-last .mobile-last li {
    padding: 0;
    font-size: small; } }

@media (min-width: 361px) {
  .main-blog .mobile-last_t ul {
    justify-content: center;
    width: 300px;
    margin: 0%; }
    .main-blog .mobile-last_t ul li {
      padding: 5;
      font-size: medium; } }

.main-trabajos .grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr; }
  .main-trabajos .grid-container article {
    padding: 10px;
    color: #F8C7CC;
    text-align: center; }
    .main-trabajos .grid-container article img {
      width: 200px;
      padding: 10px; }

.main-trabajos .trabajos-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .main-trabajos .trabajos-div .linkeo-imagenes {
    width: 100vw; }
    .main-trabajos .trabajos-div .linkeo-imagenes a {
      color: rgba(255, 255, 255, 0.555);
      text-decoration: none; }
  .main-trabajos .trabajos-div li {
    padding: 5px; }
  .main-trabajos .trabajos-div img {
    width: 175px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 5px 0px 10px #7a6f6f; }

/* responsive trabajos*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (min-width: 721px) {
  .main-trabajos .trabajos-div {
    display: none !important; } }

@media (max-width: 719px) {
  .grid-container {
    display: none !important; } }

.main-diseños {
  /* imagenes diseños */ }
  .main-diseños .flex-div {
    display: flex;
    /* direccion horizontal/vertical */
    flex-direction: row;
    /* wrap(cuando no entra mas, se va abajo)*/
    flex-wrap: wrap;
    /* orden del contenedor(espacios) */
    justify-content: space-evenly; }
    .main-diseños .flex-div img {
      width: 200px;
      padding: 10px; }
  .main-diseños .reels {
    display: inline-block;
    padding-left: 35%;
    padding-top: 10px;
    text-align: center; }
    .main-diseños .reels .p-reels {
      color: aliceblue;
      font-size: x-large;
      padding-bottom: 5px; }

/* responsive diseños*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (min-width: 361px) {
  .parrafo {
    max-width: 750px;
    margin: auto;
    font-size: medium;
    text-align: center; } }

@media (max-width: 439px) {
  .main-diseños .flex-div {
    display: flex; }
    .main-diseños .flex-div img {
      width: 150px; } }

@media (max-width: 900px) {
  .reels {
    display: none !important; } }

/* estilos contacto */
.main-contacto .redes-contacto {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0.2rem;
  justify-content: center;
  align-items: center; }
  .main-contacto .redes-contacto .gg-instagram {
    margin: .5rem; }

.main-contacto .form-contacto {
  width: 300px;
  padding: 10px;
  margin: auto;
  border: radius 4px;
  color: aliceblue;
  text-align: center; }
  .main-contacto .form-contacto .h4-contact {
    font-weight: 185;
    padding: 5px; }
  .main-contacto .form-contacto .controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid color rgba(0, 0, 0, 0.15);
    font-size: 20px; }
  .main-contacto .form-contacto .input {
    background-color: aliceblue;
    padding: 15px;
    height: 10px;
    margin: 10px; }
    .main-contacto .form-contacto .input:focus {
      transform: scale(1.05); }

.main-contacto .turno {
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: center; }
  .main-contacto .turno .parrafo-contact {
    color: #F8C7CC;
    margin: 10px;
    width: auto; }

.main-contacto .button {
  margin: 20px; }

/* responsive contacto*/
/* MEDIA QUERYS -MOBILE LAST= Max Width */
@media (max-width: 360px) {
  .mobile-last .turno {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    justify-content: center; } }

@media (min-width: 361px) {
  .mobile-last_t .turno {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    padding: 0px;
    justify-content: center; }
  .mobile-last_t .parrafo-contact {
    color: #F8C7CC;
    margin: 10px;
    width: auto; } }

@media (max-width: 425px) {
  .mobile-last .turno {
    flex-wrap: nowrap; } }
