//variables//

// /* tipografias */
@import "./utilities/coolors"
@import "./utilities/typo"

//reseteo//
@import "./utilities/reset"

//secciones//

@import "./sections/header"

// /* estilos header */

.header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    display: inline-block;
    border: solid 3px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: "Carnivalee";
        margin-bottom: 20px;
        font-size: x-large;
        text-decoration: none;
    }



    a {
        text-decoration: none;
        color: #0E0F19;

    }


    /* barra nav */
    nav ul li {

        font-family: 'Merriweather', serif;
        display: inline;
        font-weight: 500;

    }

    .logo {
        width: 45px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .ul-flex {
        display: flex;
        width: 520px;
        justify-content: flex-end;
        margin-left: 460px;

        .link {
            padding: 5px;

        }

    }
}


/* estilos main */

main {
    background-color: #0E0F19;

    h2 {
        padding: 10px;
        font-family: "Carnivalee";
        color: #5d5f5d;
        background-color: black;
        margin-top: 0%;
        text-align: center;
    }

    h3 {
        padding: 5px;
        font-family: 'Merriweather', serif;
        color: #F8C7CC;
        text-decoration: underline;
        text-align: center;
    }

    .parrafo {
        padding: 5px;
        font-family: 'Merriweather', serif;
        color: #F8C7CC;
    }

    /* imagenes index y blog */
    .img-index {
        padding: 10px;
        width: 985px
    }

    .img-blog {
        height: 700px;
        width: 985px
    }

    .regresar {
        color: blueviolet
    }


}

.link {
    padding: 5px;

}

.li {
    padding: 5px;
    font-family: 'Merriweather', serif;
    color: #F8C7CC;
}


/* imagenes diseños y trabajos */

.flex-div {
    display: flex;
    /* direccion horizontal/vertical */
    flex-direction: row;
    /* wrap(cuando no entra mas, se va abajo)*/
    flex-wrap: wrap;
    /* orden del contenedor(espacios) */
    justify-content: space-evenly;

    img {
        width: 200px;
        padding: 10px;
    }

}



.grid-container {

    display: grid;
    grid-template-columns: 3fr 3fr 3fr;

    article {

        padding: 10px;
        color: #F8C7CC;
        text-align: center;
    }

    img {
        width: 200px;
        padding: 10px;
    }
}





/* estilos contacto */

.main-contacto {
    height: 500px;


    .h4-contacto {
        margin-block-start: 1.33em !important;
        margin-block-end: 1.33em !important;
        margin-inline-start: 0px !important;
        margin-inline-end: 0px !important;
        font-weight: bold !important;
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 185 !important;


    }

    .form-contacto {
        height: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 5px;
        padding-top: 10px;
        justify-content: space-evenly;

    }

    .input {
        background-color: aliceblue;
        padding: 15px;
        height: 10px;
        margin: 10px;
    }

    .turno {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;
        padding-left: 200px;

    }

    .button {
        margin: 20px;
    }
}



/* estilo footer */

footer {
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;


    h4 {
        display: inline-block;
        padding: 5px;
        font-weight: 185;
    }

    /* redes sociales */
    .redes {
        display: flex;
        flex-direction: column;
        align-content: center;

    }

    .Facebook {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Instagram {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gg-instagram {
        margin: 5px;
    }

}

/* hover */
.link:hover {
    background-color: rgb(168, 193, 216);
    color: #0E0F19;
    transition: .1s;
    transform: scale(1.5);
    border: solid 2px black;
}

.input:focus {
    transform: scale(1.05);
}

/* responsive */

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media (max-width: 425px) {
    .mobile-last {
        text-align: center;
    }

    .mobile-last p {
        max-width: 650px;
        margin: auto;
    }

    .mobile-last img {
        width: 400px;

    }

    .mobile-last .img-blog {
        width: 400px;
        height: 450px;
    }


    .mobile-last h1 {
        display: flex;
        justify-content: center;
        margin: 0;
        text-align: center;
        font-size: medium;
        margin-bottom: 10px;
        padding-right: 20px;
    }

    .mobile-last ul {
        justify-content: center;
        width: 415px;
        margin: 0%;
        font-size: small;

    }

    .mobile-last li {
        padding: 0;
    }

    .mobile-last .turno {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
        padding: 0px;
    }

    .mobile-last .logo {
        width: 30px;
        margin: 10px;
    }

    .mobile-last footer {
        text-align: center;
    }

    .mobile-last .redes {
        display: flex;
        flex-direction: column;
    }

    .mobile-last .header-flex {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}