.header {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
    border-radius: 10px;
    height: 120px;


    .header-flex {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 40px;
            margin: .5rem;
        }


        a {
            text-decoration: none;
            color: $negro;
        }

        /* barra nav */
        nav ul li {
            font-family: '$texto', serif;
            display: inline;
            font-weight: 500;
        }


        .link {
            padding: 5px;

            &:hover {
                background-color: #a8c1d8;
                color: $negro;
                transition: .1s;
                transform: scale(1.5);
                border: solid 2px $negro;
            }

        }
    }


}


/* responsive header*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media (max-width: 360px) {

    .mobile-last {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            display: flex;
            justify-content: center;
            margin: 0;
            text-align: center;
            font-size: medium;
            margin-bottom: 10px;
            padding-left: 20px;
        }

        .logo {
            width: 30px;
            margin: .5rem;
        }
    }

}



@media (min-width: 361px) {

    .mobile_last_t {
        max-width: auto;
        margin: auto;
        font-size: medium;


        h1 {
            display: flex;
            justify-content: center;
            margin: 0;
            text-align: center;
            font-size: large;
            margin-bottom: 10px;
            padding-left: 20px;
        }

        .logo {
            width: 30px;
            margin: .5rem;
        }


    }

}

@media(max-width: 375px) {
    .mobile_last_t {
        h1 {
            margin-bottom: 0%;
        }
    }
}



@media (min-width: 768px) {
    .mobile_last_t {
        h1 {
            font-size: x-large;
        }

    }
}