.main-trabajos {


    .grid-container {

        display: grid;
        grid-template-columns: 3fr 3fr 3fr;


        article {
            padding: 10px;
            color: $rosita;
            text-align: center;

            img {
                width: 200px;
                padding: 10px;
            }

        }

    }

    .trabajos-div {
        display: flex;
        
        flex-direction: row;
       
        flex-wrap: wrap;
       
        justify-content: space-evenly;

        .linkeo-imagenes{
            width: 100vw;
            
            a {
                color: rgba(255, 255, 255, 0.555);
                text-decoration: none;
            }
        }

        li{
            padding: 5px;
        }

        img {
            width: 175px;
            margin: 5px;
            border-radius: 20px;
            box-shadow: 5px 0px 10px rgb(122, 111, 111);
        }
    }

}

/* responsive trabajos*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */


@media(min-width: 721px) {
    .main-trabajos {

        .trabajos-div {
            display: none !important;

        }
    }
}

@media(max-width: 719px) {
    .grid-container {
        display: none !important;
    }
}