/* estilos contacto */
.main-contacto {

    .redes-contacto {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin: 0.2rem;
        justify-content: center;
        align-items: center;

        .gg-instagram {
            margin: .5rem;
        }


    }

    .parrafo-contact {
        color: $rosita;
        margin-bottom: .5rem;

    }

    .mapa {
        text-align: center;

    }

    h4 {
        color: aliceblue;
        font-weight: 185;
        padding: 5px;
    }

}



.form-contacto {
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: $gris;
    border-radius: 10px;
    box-shadow: 7px 8px 37px #3b3a3a;
    border: 1px solid #1f53c5;
    margin-bottom: 10px;




    .controls {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: $gris;
        border: 1px solid #1f53c5;
        text-align: center;
        
    }

    .consulta {
        width: 100%;
        padding: 35px;
        border-radius: 4px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: $gris;
        border: 1px solid #1f53c5;
        text-align: center;
    }
}

.input {
    background-color: aliceblue;
    padding: 15px;
    height: 10px;
    margin: 10px;

    &:focus {
        transform: scale(1.05);
    }

}




.turno {
    display: flex;
    align-items: center;
    justify-content: center;


    .parrafo-contact {
        color: white;
        margin: 5px;
        width: auto;
    }

}

.button {
    margin: 20px;
}




/* responsive contacto*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */


@media (max-width: 360px) {


    .mobile-last {

        .turno {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 10px;
            justify-content: center;

        }
    }

}

@media (min-width: 361px) {

    .mobile-last_t {



        .turno {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 10px;
            padding: 0px;
            justify-content: center;

        }


    }
}




@media(max-width: 425px) {

    .mapa {
        display: none;
    }

    .mobile-last {
        .turno {
            flex-wrap: nowrap;
        }
    }

}