.main-dise単os {


    /* imagenes dise単os */
    .flex-div {
        display: flex;
        /* direccion horizontal/vertical */
        flex-direction: row;
        /* wrap(cuando no entra mas, se va abajo)*/
        flex-wrap: wrap;
        /* orden del contenedor(espacios) */
        justify-content: space-evenly;

        img {
            width: 200px;
            padding: 10px;
        }
    }

}


/* responsive dise単os*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media(max-width: 439px) {

    .main-dise単os {


        .flex-div {
            display: flex;

            img {
                width: 150px;

            }
        }
    }
}