.main-blog {

    .recomendaciones {
        padding-bottom: 10px;
    }

    .img-blog {
        width: 70vw;
        margin: 1rem;
        border-radius: 10px;
    }

    h3 {
        padding: 5px;
        font-family: '$texto', serif;
        color: $rosita;
        text-decoration: underline;
        text-align: center;
    }

    .li {
        padding: 5px;
        font-family: '$texto', serif;
        color: $rosita;
        font-size: large;


    }

    p {
        font-size: large;
    }
}




/* responsive blog*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media (max-width: 360px) {
    .mobile-last {


        .mobile-last ul {
            justify-content: center;
            width: 300px;
            margin: 0%;
        }

        .mobile-last li {
            padding: 0;
            font-size: small;
        }

    }
}


@media (min-width: 361px) {

    .main-blog {

        .mobile-last_t {


            ul {
                justify-content: center;
                width: 300px;
                margin: 0%;

                li {
                    padding: 5;
                    font-size: medium;
                }
            }
        }

    }
}