


/* responsive */

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media (max-width: 360px) {

    .main_index {

        .main {
            background-color: $negro;
            padding: 5px;
        }


    }
}


@media (min-width: 361px) {

    .main_index {
        .mobile-last_t {
            .regresar {
                color: $celeste;
                text-decoration: none;
            }

            .img-index {
                width: 70vw;
                margin: 1rem;
                border-radius: 10px;
            }
        }
    }

}