.main {
    background-color: $negro;


    h2 {
        padding: 10px;
        font-family: "$titulo";
        color: $gris;
        background-color: $negro;
        margin-top: 0%;
        text-align: center;
    }

    .parrafo {
        padding: 5px;
        font-family: '$texto', serif;
        color: $rosita;
    }

    /* hover */
    .link:hover {
        background-color: rgb(168, 193, 216);
        color: $negro;
        transition: .1s;
        transform: scale(1.5);
        border: solid 2px $negro;
    }

    .gg-corner-right-up {
        padding-left: 40px;
        text-decoration: none;
        color: #1f85b4;
        padding-top: 30px;
    }
}


/* responsive general*/

/* MEDIA QUERYS -MOBILE LAST= Max Width */

@media (max-width: 360px) {
    .mobile-last {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .main {
            background-color: $negro;
            padding: 5px;
        }

        p {
            max-width: 650px;
            margin: auto;
            font-size: medium;
            text-align: center;
        }





    }
}

@media (min-width: 361px) {
    .mobile_last_t .mobile-last {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .mobile_last_t {
        max-width: auto;
        margin: auto;
        font-size: medium;
        text-align: center;

        p {
            max-width: 750px;
            margin: auto;
            font-size: medium;
            text-align: center;

        }



        .main {
            background-color: $negro;

        }
    }
}