//VARIABLES//
/* tipografias */
/* FUENTE LOCAL */
@font-face {
    src: url("../recursos/typo/Rubik_Wet_Paint/RubikWetPaint-Regular.ttf");
    $titulo: "Carnivalee";
    
}

/* FUENTE EXTERNA */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Sedgwick+Ave+Display&display=swap');
$texto: "'Merriweather', serif;"